body{
  padding-top: 40px;
  padding-left: 40px;
}
#chess-board {
  height: 640px;
  width: 640px;
  padding: 20px;
  background-color: grey;
  position: fixed;
}

.cell {
  height: 80px;
  float: left;
  width: 80px;
}
.w{
  background-color: white;
}
.b {
  background-color: #505050;
}
#piece-container{
  position:absolute;
  height: 640px;
  width: 640px;
}
.piece {
  width: 80px;
  height: 80px;
  position: fixed;
}
.blue{
  width: 80px;
  height: 80px;
  position: fixed;
  background-color: blue;
  opacity: 0.2;

}

.deadwhite{
  width: 800px;
  height: 800px;
  position: fixed;
  float:left;
}

.deadblack{
  width: 800px;
  height: 800px;
  position: fixed;
  float:left;
}

.tile-position-0-0 { transform: translate(0, 0); }
.tile-position-0-1 { transform: translate(80px, 0); }
.tile-position-0-2 { transform: translate(160px, 0); }
.tile-position-0-3 { transform: translate(240px, 0); }
.tile-position-0-4 { transform: translate(320px, 0); }
.tile-position-0-5 { transform: translate(400px, 0); }
.tile-position-0-6 { transform: translate(480px, 0); }
.tile-position-0-7 { transform: translate(560px, 0); }

.tile-position-1-0 { transform: translate(0, 80px); }
.tile-position-1-1 { transform: translate(80px, 80px); }
.tile-position-1-2 { transform: translate(160px, 80px); }
.tile-position-1-3 { transform: translate(240px, 80px); }
.tile-position-1-4 { transform: translate(320px, 80px); }
.tile-position-1-5 { transform: translate(400px, 80px); }
.tile-position-1-6 { transform: translate(480px, 80px); }
.tile-position-1-7 { transform: translate(560px, 80px); }

.tile-position-2-0 { transform: translate(0, 160px); }
.tile-position-2-1 { transform: translate(80px, 160px); }
.tile-position-2-2 { transform: translate(160px, 160px); }
.tile-position-2-3 { transform: translate(240px, 160px); }
.tile-position-2-4 { transform: translate(320px, 160px); }
.tile-position-2-5 { transform: translate(400px, 160px); }
.tile-position-2-6 { transform: translate(480px, 160px); }
.tile-position-2-7 { transform: translate(560px, 160px); }

.tile-position-3-0 { transform: translate(0, 240px); }
.tile-position-3-1 { transform: translate(80px, 240px); }
.tile-position-3-2 { transform: translate(160px, 240px); }
.tile-position-3-3 { transform: translate(240px, 240px); }
.tile-position-3-4 { transform: translate(320px, 240px); }
.tile-position-3-5 { transform: translate(400px, 240px); }
.tile-position-3-6 { transform: translate(480px, 240px); }
.tile-position-3-7 { transform: translate(560px, 240px); }

.tile-position-4-0 { transform: translate(0, 320px); }
.tile-position-4-1 { transform: translate(80px, 320px); }
.tile-position-4-2 { transform: translate(160px, 320px); }
.tile-position-4-3 { transform: translate(240px, 320px); }
.tile-position-4-4 { transform: translate(320px, 320px); }
.tile-position-4-5 { transform: translate(400px, 320px); }
.tile-position-4-6 { transform: translate(480px, 320px); }
.tile-position-4-7 { transform: translate(560px, 320px); }

.tile-position-5-0 { transform: translate(0, 400px); }
.tile-position-5-1 { transform: translate(80px, 400px); }
.tile-position-5-2 { transform: translate(160px, 400px); }
.tile-position-5-3 { transform: translate(240px, 400px); }
.tile-position-5-4 { transform: translate(320px, 400px); }
.tile-position-5-5 { transform: translate(400px, 400px); }
.tile-position-5-6 { transform: translate(480px, 400px); }
.tile-position-5-7 { transform: translate(560px, 400px); }

.tile-position-6-0 { transform: translate(0, 480px); }
.tile-position-6-1 { transform: translate(80px, 480px); }
.tile-position-6-2 { transform: translate(160px, 480px); }
.tile-position-6-3 { transform: translate(240px, 480px); }
.tile-position-6-4 { transform: translate(320px, 480px); }
.tile-position-6-5 { transform: translate(400px, 480px); }
.tile-position-6-6 { transform: translate(480px, 480px); }
.tile-position-6-7 { transform: translate(560px, 480px); }

.tile-position-7-0 { transform: translate(0, 560px); }
.tile-position-7-1 { transform: translate(80px, 560px); }
.tile-position-7-2 { transform: translate(160px, 560px); }
.tile-position-7-3 { transform: translate(240px, 560px); }
.tile-position-7-4 { transform: translate(320px, 560px); }
.tile-position-7-5 { transform: translate(400px, 560px); }
.tile-position-7-6 { transform: translate(480px, 560px); }
.tile-position-7-7 { transform: translate(560px, 560px); }
